---
import SiteFooter from '~/components/navigation/SiteFooter.astro';
import SiteHeader from '~/components/navigation/SiteHeader.astro';
import { siteConfig } from '~/config/site';
import Layout from '~/layouts/Layout.astro';
import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <slot name="header">
    <SiteHeader brand={siteConfig.brand} navigation={siteConfig.navigation} currentPath={Astro.url.pathname} />
  </slot>
  <main><slot /></main>
  <slot name="footer">
    <SiteFooter brand={siteConfig.brand} footer={siteConfig.footer} />
  </slot>
</Layout>
